@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import "banner.css";
@import "content.css";
@import "footer.css";

html {
  background: #e4e4e4;
  font-family: 'Source Code Pro', monospace;
  font-size: 95%;
}

body {
  max-width: 800px;
  margin: auto;
  background: white;
  box-shadow: 0 0 5px 5px #bbb;
}
