<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>

    <div id="banner">

      <div id="header">
        <h1 id="title">{{ .Site.Title }}</h1>
        <h2 id="description">{{ .Site.Params.description }}</h2>
      </div>

      <nav id="menu">
        <ul>
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>

    </div>
